/*
+---------------------------------------------------------------+
|                          Main Screens                         |
+---------------------------------------------------------------+
*/

.mainLabel{
    -fx-font-size: 40px;
    -fx-text-fill: #8F7E74;
    -fx-font-weight: bold;
}
.mainLabelSecondary{
    -fx-font-size: 20px;
    -fx-text-fill: #8F7E74;
    -fx-font-weight: bold;
}
.creditsLabel{
    -fx-font-size: 12px;
    -fx-text-fill: #8F7E74;
    -fx-font-weight: bold;
}
.JoinSessionLabel{
    -fx-font-size: 12px;
    -fx-text-fill: #8F7E74;
    -fx-font-weight: bold;
}
.JoinSessionLabel:hover{
    -fx-text-fill: #a63f22;
    -fx-font-weight: bold;
    -fx-underline: true;
}
/*
+---------------------------------------------------------------+
|                          List Screens                         |
+---------------------------------------------------------------+
*/

.labelListas{
    -fx-text-fill: #42433B;
    -fx-font-size: 25px;
    -fx-font-weight: bold;
}
.labelVbox{
    -fx-text-fill: #42433B;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

