/*
+---------------------------------------------------------------+
|                         VboxMenuStyle                         |
+---------------------------------------------------------------+
*/
.vboxMenu{
    -fx-background-color: #DAC8C0;
}

.vboxGeneral{
    -fx-background-color: #DAC8C0;
    -fx-border-color: black;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}
.vboxGeneralImagen{
    -fx-background-color: #DAC8C0;
    -fx-border-color: #000000;
    -fx-border-width: 3px;
}